@import './normalize';
@import url("https://fonts.googleapis.com/css?family=Roboto:100,700");

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}


/**
 * GENERAL
 */

img {
    max-width: 100%;
}
body {
    font-family: 'Roboto', 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
    font-weight: 100;
}

/**
 * App code
 */

 @mixin transparent($color, $alpha) {
   $rgba: rgba($color, $alpha);
   $ie-hex-str: ie-hex-str($rgba);
   background-color: transparent;
   background-color: $rgba;
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
   zoom: 1;
}


.container {
  background: url("../images/library.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}


.stack-selection {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  .the-stack {

    @include transparent(#000000, 0.7);
    text-align: center;
    line-height: 1.4;
    color: #ffffff;
    padding: 0.2rem;
    font-size: 3rem;
    padding: 2rem;
  }
  button {
    display: block;

    background-color: #8E44AD;
    padding: 2rem;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    margin: 10rem;
  }


}
.love {
  text-align: center;
  @include transparent(#000000, 0.9);
  color: #ffffff;
}
